<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bordash - Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="${basePath}/assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="${basePath}/vendors/bundle.css" type="text/css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="${basePath}/vendors/datepicker/daterangepicker.css">

    <!-- Vmap -->
    <link rel="stylesheet" href="${basePath}/vendors/vmap/jqvmap.min.css">
 <!-- Prism -->
    <link rel="stylesheet" href="${basePath}/vendors/prism/prism.css" type="text/css">
    <!-- App styles -->
    <link rel="stylesheet" href="${basePath}/assets/css/app.css" type="text/css">
</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->

<!-- begin::header -->

<!-- end::header -->

<!-- begin::main -->
<div id="main">

    <!-- begin::navigation -->
    <div class="navigation">

        <div class="navigation-menu-tab">
<!--             <div>
          
                <div class="navigation-menu-tab-header" data-toggle="tooltip" title="首页" data-placement="right">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                        <figure class="feather feather-home">
                            <img src="assets/media/image/user/women_avatar1.jpg" class="rounded-circle" alt="avatar">
                            
                        </figure>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                        <div class="p-3 text-center" data-backround-image="assets/media/image/image1.jpg">
                            <figure class="avatar mb-3">
                                <img src="assets/media/image/user/women_avatar1.jpg" class="rounded-circle" alt="image">
                            </figure>
                            <h6 class="d-flex align-items-center justify-content-center">
                                Roxana Roussell
                                <a href="#" class="btn btn-primary btn-sm ml-2" data-toggle="tooltip" title="Edit profile">
                                    <i data-feather="edit-2"></i>
                                </a>
                            </h6>
                            <small>Balance: <strong>$105</strong></small>
                        </div>
                        <div class="dropdown-menu-body">
                            <div class="border-bottom p-4">
                                <h6 class="text-uppercase font-size-11 d-flex justify-content-between">
                                    Storage
                                    <span>%25</span>
                                </h6>
                                <div class="progress" style="height: 8px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 35%;"
                                         aria-valuenow="35"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item">Profile</a>
                                <a href="#" class="list-group-item d-flex">
                                    Followers <span class="text-muted ml-auto">214</span>
                                </a>
                                <a href="#" class="list-group-item d-flex">
                                    Inbox <span class="text-muted ml-auto">18</span>
                                </a>
                                <a href="#" class="list-group-item" data-sidebar-target="#settings">Billing</a>
                                <a href="#" class="list-group-item" data-sidebar-target="#settings">Need help?</a>
                                <a href="#" class="list-group-item text-danger" data-sidebar-target="#settings">Sign Out!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="flex-grow-1">
                <ul>
                
                <li>
                        <a  href="#" data-toggle="tooltip" data-placement="right" title="首页"  data-nav-target="#personCommon">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="个人常用功能"
                           data-nav-target="#personCommon">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="系统状态监控" data-nav-target="#systemStatusMonitor">
                            <i data-feather="monitor"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="智能微微配置"   data-nav-target="#robotConfig">
                            <i data-feather="user-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="辅助功能管理" data-nav-target="#assistConfig">
                            <i data-feather="tool"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="咨询入口管理" data-nav-target="#consultConfig">
                            <i data-feather="message-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="网页样式配置" data-nav-target="#pageStyleConfig">
                            <i data-feather="file-plus"></i>
                        </a>
                    </li>
                     <li>
                        <a class="active" href="#" data-toggle="tooltip" data-placement="right" title="基础信息设置" data-nav-target="#basicSettings">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- begin::navigation menu -->
        <div class="navigation-menu-body">

            <!-- begin::navigation-logo -->
            <div>
                <div id="navigation-logo">
                    <a href="index.html">
                        <img class="logo" src="assets/media/image/logo.png" alt="logo">
                        <img class="logo-light" src="assets/media/image/logo-light.png" alt="light logo">
                    </a>
                </div>
            </div>
            <!-- end::navigation-logo -->

            <div class="navigation-menu-group">

               

                <div id="personCommon">
                    <ul>
                        <li class="navigation-divider">个人常用功能</li>
                        
                         <li><a href="alerts.html">友好对话</a></li>
                        <li><a href="alerts.html">自动回复设置</a></li>
                        <li><a href="alerts.html">内部聊天记录</a></li>
                        <li><a href="${basePath}/commonLanguage/index.html">个人常用语</a></li>
                        <li><a href="${basePath}/commonLanguage/index.html">修改登录密码</a></li>
                     </ul>

                </div>
                <div id="systemStatusMonitor">
                    <ul>
                        <li class="navigation-divider">系统状态监控</li>
                        <li><a href="login.html">客服状态日志查询</a></li>
                        
                        <li><a href="register.html">分组信息监控</a></li>
                        <li><a href="recover-password.html">客服登录日志查询</a></li>
                        <li><a href="recover-password.html">系统操作日志查询</a></li>
                    </ul>
                </div>
                <div id="robotConfig">
                    <ul>
                        <li class="navigation-divider">智能微微配置</li>
                        <li>
                            <a href="chat.html">
                                <span>问候语配置</span>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <span>知识库配置</span>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <span>知识库分类</span>
                            </a>
                        </li>
                    
                    </ul>
                </div>
                
                <div  id="assistConfig">
                    <ul>
                        <li class="navigation-divider">辅助功能管理</li>
                        <li><a href="login.html">AI助手</a></li>
                        <li><a href="${basePath}/commonLanguageCategory/index.html">常用语分类管理</a></li>
                        <li><a href="${basePath}/commonLanguage/index.html">常用语内容管理</a></li>
                        <li><a href="login.html">客户信息字段管理</a></li>
                        <li><a href="${basePath}/summaryCategory/index.html">总结标签管理</a></li>
                        <li><a href="${basePath}/chatTeam/index.html">群管理</a></li>
                     </ul>
                </div>
                <div id="pageStyleConfig">
                    <ul>
                        <li class="navigation-divider">网页别名设置</li>
                        <li><a href="login.html">图片素材管理</a></li>
                        <li><a href="login.html">网页样式配置</a></li>
                     </ul>
                </div>
                
                  <div class="open" id="basicSettings">
                    <ul>
                        <li><a href="${basePath}/iccAccount/index.html"">客服账号管理</a></li>
                        <li><a href="${basePath}/skillGroup/index.html">客服分组管理</a></li>
                        <li><a href="${basePath}/department/index.html">部门信息管理</a></li>
                        <li><a href="${basePath}/role/index.html">公司角色管理</a></li>
                        <li><a class="active" href="${basePath}/role/assignRole.html">公司角色分配</a></li>
                        <li><a href="${basePath}/rewriteRule/index.html">接入策略管理</a></li>
                        <li><a href="${basePath}/promotionChannel/index.html">接入渠道配置</a></li>
                        <li><a href="${basePath}/visitorFilter/index.html">访客屏蔽管理</a></li>

                        <li><a href="${basePath}/site/index.html">子站点管理</a></li>
                        <li><a href="${basePath}/organize/edit.html">公司信息配置</a></li>
                        <li><a href="${basePath}/organizeConfig/edit.html">公司全局配置</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- end::navigation menu -->

    </div>
    <!-- end::navigation -->

    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::page-header -->
        <div class="page-header">
            <div class="container-fluid d-sm-flex justify-content-between">
                <h4>公司角色分配</h4>
            </div>
        </div>
        <!-- end::page-header -->

        <!-- begin::page content -->
        <div class="container-fluid">

			<div class="row">
				<div class="col-md-12">

					<table class="table mb-4 mt-4">
						<thead class="thead-light">
							<tr>
								<th>#</th>
								<th class="text-left">客服ID</th>
								<th class="text-left">客服姓名</th>
								<th class="text-left">邮件地址</th>
								<th class="text-left">联系电话</th>
								<th class="text-left">所属部门</th>
								<th class="text-left">所属角色</th>
								
								<th class="text-left">操作</th>
							</tr>
						</thead>
						<tbody>
							<#if pageInfo.list?? && (pageInfo.list?size > 0) >
								<#list pageInfo.list as account>
								<tr class="text-left">
									<td class="text-left">${account_index+1}</td>
									<td class="text-left">${account.code!}</td>
									<td class="text-left">${account.nick!}</td>
									<td class="text-left">${account.email!}</td>
									<td class="text-left">${account.mobile!}</td>
									<td class="text-left">${account.departmentName!}</td>
									<td class="text-left">${account.roleName!}</td>
									<td class="text-left">
									<a class="badge badge-success" onclick="editRole('${account.id!}')">修改</a>
									 </td>
	
								</tr>
								</#list>
								<#else>
								<tr class="text-center">
								<td colspan=8 class="text-center">无数据</td>
								</tr>
							</#if>
						</tbody>
					</table>

				</div>
			</div>

		</div>
        <!-- end::page content -->

        <!-- begin::footer -->

        <!-- end::footer -->

    </div>
    <!-- end::main-content -->

</div>
<!-- end::main -->

<!-- Plugin scripts -->
<script src="${basePath}/vendors/bundle.js"></script>

<!-- Chartjs -->
<script src="${basePath}/vendors/charts/chartjs/chart.min.js"></script>

<!-- Apex chart -->
<script src="${basePath}/vendors/charts/apex/apexcharts.min.js"></script>

<!-- Circle progress -->
<script src="${basePath}/vendors/circle-progress/circle-progress.min.js"></script>

<!-- Peity -->
<script src="${basePath}/vendors/charts/peity/jquery.peity.min.js"></script>
<script src="${basePath}/assets/js/examples/charts/peity.js"></script>

<!-- Datepicker -->
<script src="${basePath}/vendors/datepicker/daterangepicker.js"></script>



<!-- Vamp -->
<script src="${basePath}/vendors/vmap/jquery.vmap.min.js"></script>
<script src="${basePath}/vendors/vmap/maps/jquery.vmap.usa.js"></script>
<script src="${basePath}/assets/js/examples/vmap.js"></script>




<!-- App scripts -->
<script src="${basePath}/assets/js/app.js"></script>
</body>
</html>