<html>
<head>
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="/image/favicon.png">
		<meta name="renderer" content="webkit">
		<meta name="robots" content="index, follow">
		<title>【官网】华创微聊 |客服管理系统-在线客服系统-自动回复机器人-电话机器人-智能客服机器人-华创新能</title>
    	<meta name="description" content="上海小持智能科技有限公司致力于AI客服机器人及系统平台研发,提供客服管理系统,自动回复机器人,在线客服系统,客服软件,微信机器人,电话机器人,拥有多项专利和软件著作权.公司科研人员长期基于深度学习、自然语言NLU开发出多项智能客服系统，可以根据行业垂直场景进行深度定制，满足客户个性化商业服务需求。">
		<meta name="keyword" content="小持科技智能客服,在线客服,微信机器人,电话机器人,客服机器人,云客服,AI客服,上海小持智能科技有限公司">
		<meta name="copyright" content="上海小持智能科技有限公司, All Rights Reserved">
		<link rel="canonical" href="${basePath}">
    <link rel="stylesheet" href="${basePath}/css/animate.min.css">
    <link rel="stylesheet" href="${basePath}/css/public.css">
    <link rel="stylesheet" href="${basePath}/css/frame.css">
     <link rel="stylesheet" href="${basePath}/css/">
     <link rel="stylesheet" href="${basePath}/css/index4.css">
    
    <link rel="stylesheet" href="${basePath}/css/media.css">
    <link href="${basePath}/css/add_media6.24.css" rel="stylesheet">
     <script src="${basePath}/js/jquery-1.12.4.min.js"></script>
    <script src="${basePath}/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="${basePath}/js/common.js"></script>
        
    <script>
        // 字体
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + "px";
    </script>


<link rel="stylesheet" href="${basePath}/layer/theme/default/layer.css?v=3.1.0" id="layuicss-layer"></head>
</head>
<body>
     <header>
        <div class="header on">
            <div class="clearfix he_cons wrap">
                <div class="logo fl">
                      <h1><a href="http://www.xiaochirobot.com/" title="小持客服管理系统">
                        <img src="/xiaochi/files/images/201907/0104100247760.png" alt="小持客服管理系统" class="logo_one">
                    </a></h1>
                
                   
                </div>
                <div class="fr menu clearfix">
                    <div class="menu_fl fl">
                        <ul class="clearfix">
                            <li><a href="http://www.xiaochirobot.com">首页</a></li>
                            <li>
                                	<a href="/intro.html">产品介绍</a>
                                
                            </li>
                            <li>
                                <a href="/solve1.html">解决方案</a>
                                <div class="menu_boot menu_bootss">
                                    <a href="/solve1.html#caiwu">财务人事行政问答助手</a>
                                    <a href="/solve1.html#toubiao">招投标问答助手</a>
                                    <a href="/solve1.html#it"> IT问答助手</a>
                                    <a href="/solve1.html#shequ">社区卫生服务助手</a>
                                    <a href="/solve1.html#yiyuao">医药销售助手</a>
                                    <a href="/solve1.html#yunwei">运维调度</a>
                                    <a href="/solve1.html#zushou">合规管理助手</a>
                                    <a href="/solve1.html#dichan">地产推广</a>
                                    <a href="/solve1.html#weixiu">维保维修助手</a>
                                    <a href="/solve1.html#baoxian">财险推广</a>
                                </div>
                            </li>
                            <li><a href="/price.html">服务价格</a></li>
                            <li><a href="/Customer.html">客户案例</a>
                            </li>
                         <!--   <li><a href="/">产品体验</a></li>-->
                            <li><a href="/about-us/1.html" rel="nofollow">联系我们</a>
                                <div class="menu_boot menus">
                                <a href="/about-us/1.html">关于小持</a>
                                <a href="/about-us/2.html">媒体报道</a>
                                <a href="/about-us/3.html" rel="nofollow">加入我们</a>
                                <a href="/about-us/4.html" rel="nofollow">联系我们</a>
                           
                           <!--      <a href="javascript:;">接口扩展</a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_fr fl">
                        <a href="${basePath}/login.html" rel="nofollow">登录</a>
                        <a href="${basePath}/register.html" rel="nofollow">免费试用</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 手机端头部 -->
    <div class="p_head_null none">
        <div class="phone_header">
            <div class="hea_content wrap clearfix">
                <div class="nav_icon nav_icon_animate">
                    <img src="/./images/nav_icon.png" alt="客服管理系统" class="nv_show" style="display: inline;">
                    <img src="/./images/clone.png" alt="自动回复机器人" class="nv_clone" style="display: none;">
                </div>
                <div class="hea_logo fl">
                  
                       <a href="/">
                        <img src="/./images/logo(1).png" alt="客服系统">
                    </a>
                               
                </div>
                <div class="p_heder_rg">

                </div>
            </div>
        </div>
    </div>
<script src="${basePath}/layer/layer.js"></script>
<style>
    .thr_textl > h2 {
        font-size:16px!important;
    }
    /*.wrap {
        margin-top:-15px;
    }*/
   .i_fou_show {
         margin-top:50px;
    }
    /*.lun{
background: #000000;
}*/ 
    
</style>
<script>
    $(function () {
        var title = $(".i_fou_ul li").eq(0).attr("data-Title");
        var Description = $(".i_fou_ul li").eq(0).attr("data-Description");
        var href = $(".i_fou_ul li").eq(0).attr("data-href");
        var ps = $(".i_fou_ul li").eq(0).attr("data-pic");
        var pss = $(".i_fou_ul li").eq(0).attr("data-pics");
        var id = $(".i_fou_ul li").eq(0).attr("data-CatalogId");
        if (id == 51) {
            id = "#caiwu";
        } else if (id == 52) {
            id = "#toubiao";
        }
        else if (id == 53) {
            id = "#it";
        }
        else if (id == 54) {
            id = "#shequ";
        }
        else if (id == 55) {
            id = "#yiyuao";
        }
        else if (id == 56) {
            id = "#yunwei";
        }
        else if (id == 57) {
            id = "#zushou";
        }
        else if (id == 58) {
            id = "#dichan";
            
        }
        else if (id == 59) {
            id = "#weixiu";
        }
        else if (id == 60) {
            id = "#baoxian";
        }
        $("#title").text(title);
        $("#tit").text(title);
        $("#Description").text(Description);
        $("#href").attr("href", "/solve1.html" + id);

        $("#pic").attr("src", href);
       
        if (ps != "") {
            $("#pics").attr("src", ps);
            $(".pas").show();
        } else {
            $(".pas").hide();
        }
        if (pss != "") {
            $("#picss").attr("src", pss);
            $(".pac").show();
        } else {
            $(".pac").hide();
        }
     
       
    })
    function fenl(o) {
        var Title = $(o).attr("data-Title");
        var Description = $(o).attr("data-Description");
        var href = $(o).attr("data-href");
        var ps = $(o).attr("data-pic");
        var pss = $(o).attr("data-pics");
        var id = $(o).attr("data-CatalogId");
        if (id==51) {
            id = "#caiwu";
        } else if (id==52) {
            id = "#toubiao";
        }
        else if (id == 53) {
            id = "#it";
        }
        else if (id == 54) {
            id = "#shequ";
        }
        else if (id == 55) {
            id = "#yiyuao";
        }
        else if (id == 56) {
            id = "#yunwei";
        }
        else if (id == 57) {
            id = "#zushou";
        }
        else if (id == 58) {
            id = "#dichan";
        }
        else if (id == 59) {
            id = "#weixiu";
        }
        else if (id == 60) {
            id = "#baoxian";
        }
      
        $("#title").text(Title);
        $("#tit").text(Title);
        $("#Description").text(Description);
        $("#href").attr("href", "/solve1.html" + id);
        $("#pic").attr("src", href);
        if (ps != "") {
            $("#pics").attr("src", ps);
            $(".pas").show();
        } else {
            $(".pas").hide();
        }
        if (pss != "") {
            $("#picss").attr("src", pss);
            $(".pac").show();
        } else {
            $(".pac").hide();
        }
    }
 
</script>
 <main>
        
    

 
         <div class="lun">
            <div id="slideBox" class="slideBox">
                <div class="hd">
                    <ul>
                         <li class=""></li><li class=""></li><li class=""></li><li class=""></li><li class="on"></li>
                   
                    </ul>
                </div>
                <div class="bd">
                    <div class="tempWrap" style="overflow:hidden; position:relative; width:1349px"><ul style="width: 6745px; left: -5396px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                         <li style="float: left; width: 1349px;">
                            <img src="${basePath}/files/images/202004/2605200266600.jpg" alt="客服管理系统">
                          

	<title></title>


<div class="lun_data wrap animated fadeInDown">
<h1>微信公众号机器人</h1>

<h2>微信、公众号、企业号全覆盖<br>
精准识别客户意图，多轮次会话互动</h2>
<a href="http://www.xiaochirobot.com/wx-robot/1.html">了解详情</a></div>


                        </li><li style="float: left; width: 1349px;">
                            <img src="${basePath}/files/images/202004/2605191239740.jpg" alt="客服管理系统">
                          

	<title></title>


<div class="lun_data wrap animated fadeInDown">
<h1>网页H5机器人</h1>

<h2>官网web、手机H5嵌入无缝对接<br>
7x24小时实时服务</h2>
<a href="http://www.xiaochirobot.com/net-robot/2.html">了解详情</a></div>


                        </li><li style="float: left; width: 1349px;">
                            <img src="${basePath}/files/images/202004/2811300924610.jpg" alt="客服管理系统">
                          

	<title></title>


<div class="lun_data wrap animated fadeInDown">
<h1>电话工单</h1>

<h2>机器人自主接听电话<br>
智能抓取语意信息，自动对接业务工单</h2>
<a href="http://www.xiaochirobot.com/tel-order/3.html">了解详情</a></div>


                        </li><li style="float: left; width: 1349px;">
                            <img src="${basePath}/files/images/202004/2605174132710.jpg" alt="客服管理系统">
                          

	<title></title>


<div class="lun_data wrap animated fadeInDown">
<h1>电话外呼</h1>

<h2>批量电话智能外呼<br>
智能筛选意向客户，实时转人工</h2>
<a href="http://www.xiaochirobot.com/tel-robot/7.html">了解详情</a></div>


                        </li><li style="float: left; width: 1349px;">
                            <img src="${basePath}/files/images/202004/2811313066270.jpg" alt="客服管理系统">
                          

	<title></title>


<div class="lun_data wrap animated fadeInDown">
<h1>综合云坐席</h1>

<h2>全面融合文字/语音机器人、人工坐席、工单、短信<br>
覆盖微信、网站、H5、电话众多渠道</h2>
<a href="http://www.xiaochirobot.com/zh-cloud/8.html">了解详情</a></div>


                        </li>
                      

                    </ul></div>
                </div>
            </div>
        </div>

        <div class="i_one wrap">
            <h2 class="index_one">全媒体智能AI客服</h2>
            <div class="i_one_lun">
                <div class="picScroll-left">
                    <div class="bd">
                        <div class="tempWrap" style="overflow:hidden; position:relative; width:1260px"><ul class="picList" style="width: 1575px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                             <li style="float: left; width: 299px;">
                                <div class="one_lun">
                                    <div class="on_lun_tu">
                                        <img src="${basePath}/files/images/202004/0405340275470.png" alt="网页H5机器人" class="on_one">
                                        <img src="${basePath}/files/images/202004/0405345521750.png" alt="网页H5机器人" class="on_two">
                                    </div>
                                    <h2>网页H5机器人</h2>
                                    <p class="" style="height: 72px;">
                                       官网web、手机H5嵌入无缝对接
7x24小时实时服务
                                    </p>
                                    <a href="http://www.xiaochirobot.com/net-robot/2.html">了解详情</a>
                                </div>
                            </li> <li style="float: left; width: 299px;">
                                <div class="one_lun">
                                    <div class="on_lun_tu">
                                        <img src="${basePath}/files/images/202004/0405315520880.png" alt="微信公众号机器人" class="on_one">
                                        <img src="${basePath}/files/images/202004/0405320268120.png" alt="微信公众号机器人" class="on_two">
                                    </div>
                                    <h2>微信公众号机器人</h2>
                                    <p class="" style="height: 72px;">
                                       微信、公众号、企业号全覆盖<br>
精准识别客户意图，多轮次会话互动
                                    </p>
                                    <a href="http://www.xiaochirobot.com/wx-robot/1.html">了解详情</a>
                                </div>
                            </li> <li style="float: left; width: 299px;">
                                <div class="one_lun">
                                    <div class="on_lun_tu">
                                        <img src="${basePath}/files/images/202004/0405420240870.png" alt="电话外呼" class="on_one">
                                        <img src="${basePath}/files/images/202004/0405420839910.png" alt="电话外呼" class="on_two">
                                    </div>
                                    <h2>电话外呼</h2>
                                    <p class="" style="height: 72px;">
                                       批量电话智能外呼<br>
智能筛选意向客户，实时转人工
                                    </p>
                                    <a href="http://www.xiaochirobot.com/tel-robot/7.html">了解详情</a>
                                </div>
                            </li> <li style="float: left; width: 299px;">
                                <div class="one_lun">
                                    <div class="on_lun_tu">
                                        <img src="${basePath}/files/images/202004/0405393135360.png" alt="电话工单" class="on_one">
                                        <img src="${basePath}/files/images/202004/0405393854520.png" alt="电话工单" class="on_two">
                                    </div>
                                    <h2>电话工单</h2>
                                    <p class="" style="height: 72px;">
                                       机器人自主接听电话<br>
智能抓取语意信息，自动对接业务工单
                                    </p>
                                    <a href="http://www.xiaochirobot.com/tel-order/3.html">了解详情</a>
                                </div>
                            </li> <li style="float: left; width: 299px;">
                                <div class="one_lun">
                                    <div class="on_lun_tu">
                                        <img src="/xiaochi/files/images/201907/0303530004210.png" alt="综合云坐席" class="on_one">
                                        <img src="/xiaochi/files/images/201907/0303531069690.png" alt="综合云坐席" class="on_two">
                                    </div>
                                    <h2>综合云坐席</h2>
                                    <p class="" style="height: 72px;">
                                       全面融合文字/语音机器人、人工坐席、工单、短信，
覆盖微信、网站、H5、电话众多渠道
                                    </p>
                                    <a href="http://www.xiaochirobot.com/zh-cloud/8.html">了解详情</a>
                                </div>
                            </li>
                        </ul></div>
                    </div>
                    <div class="hd">
                        <ul><li class="on">1</li><li>2</li></ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="i_two">
            <ul class="clearfix wrap">
                
                <li>
                    <p>
                        80<em>%</em>
                        <img src="${basePath}/files/images/202004/2810494039990.png" alt="自动回复机器人解决常见问题">
                    </p>
                    <i>
                        <em>解决常见问题</em>
                            全渠道一体化工作台服务更专业、更高效
                    </i>
                </li>
                
                <li>
                    <p>
                        100<em>%</em>
                        <img src="${basePath}/files/images/202004/2810502542150.png" alt="自动回复机器人标准化执行">
                    </p>
                    <i>
                        <em>标准化执行</em>
                            7×24小时持续服务避免负面情绪影响
                    </i>
                </li>
                
                <li>
                    <p>
                        70<em>%</em>
                        <img src="${basePath}/files/images/202004/2810505776040.png" alt="自动回复机器人节省人工时间">
                    </p>
                    <i>
                        <em>节省人工时间</em>
                            释放70%的人工时间<br>更低成本服务更多客户
                    </i>
                </li>
                
                <li>
                    <p>
                        10<em>%</em>
                        <img src="${basePath}/files/images/202004/2810512861720.png" alt="自动回复机器人运营成本">
                    </p>
                    <i>
                        <em>运营成本</em>
                            机器人工作不限时长<br>无人员管理/培训费用
                    </i>
                </li>
                
                
               <!-- <li>
                    <p>
                        100<em>%</em>
                        <img src="/./image/xin_1.png" alt="">
                    </p>
                    <i>
                            <em>标准化执行</em>
                            7×24小时持续服务
                            避免负面情绪影响
                    </i>
                </li>
                <li>
                    <p>
                        70<em>%</em>
                        <img src="/./image/xin_2.png" alt="">
                    </p>
                    <i>
                            <em>节省人工时间</em>
                            释放70%的人工时间
                            更低成本服务更多客户
                    </i>
                </li>
                <li>
                    <p>
                        10<em>%</em>
                        <img src="/./image/xin_3.png" alt="">
                    </p>
                    <i>
                            <em>运营成本</em>
                            机器人工作不限时长  
                            无人员管理/培训费用
                    </i>
                </li>-->
            </ul>
        </div>
        <div class="i_thr i_three wrap">
            <h3 class="index_one">专业专注 用心服务</h3>
            <ul class="clearfix">
                <li class="clearfix">
                    <a href="javascript:;">
                        <div class="thr_tu">
                            <img src="${basePath}/files/images/202004/2811223285170.png" alt="客服管理系统操作便捷">
                        </div>
                        <div class="thr_textl">
                            <h3 style="font-size: 16px!important;color: #000000;text-align: center;margin: 15px 0px;font-weight: bold;">操作便捷</h3>
                            <p>
                               智能联想推荐<br>减少用户输入，快速解决问题
                            </p>
                        </div>
                    </a>
                </li><li class="clearfix">
                    <a href="javascript:;">
                        <div class="thr_tu">
                            <img src="${basePath}/files/images/202004/2605405708880.png" alt="客服管理系统安全稳定">
                        </div>
                        <div class="thr_textl">
                            <h3 style="font-size: 16px!important;color: #000000;text-align: center;margin: 15px 0px;font-weight: bold;">安全稳定</h3>
                            <p>
                               准确率&gt;80%<br>AI+数据运营，保证问答效果
                            </p>
                        </div>
                    </a>
                </li><li class="clearfix">
                    <a href="javascript:;">
                        <div class="thr_tu">
                            <img src="${basePath}/files/images/202004/2605412160830.png" alt="客服管理系统产品迭代快">
                        </div>
                        <div class="thr_textl">
                            <h3 style="font-size: 16px!important;color: #000000;text-align: center;margin: 15px 0px;font-weight: bold;">产品迭代快</h3>
                            <p>
                               机器人模板<br>一键复制，快速上线机器人
                            </p>
                        </div>
                    </a>
                </li><li class="clearfix">
                    <a href="javascript:;">
                        <div class="thr_tu">
                            <img src="${basePath}/files/images/202004/2605414802730.png" alt="客服管理系统售后速达">
                        </div>
                        <div class="thr_textl">
                            <h3 style="font-size: 16px!important;color: #000000;text-align: center;margin: 15px 0px;font-weight: bold;">售后速达</h3>
                            <p>
                               全媒体接入<br>电话/微信/网页/H5，统一工作台
                            </p>
                        </div>
                    </a>
                </li><li class="clearfix">
                    <a href="javascript:;">
                        <div class="thr_tu">
                            <img src="${basePath}/files/images/202004/2605421525870.png" alt="客服管理系统灵活部署">
                        </div>
                        <div class="thr_textl">
                            <h3 style="font-size: 16px!important;color: #000000;text-align: center;margin: 15px 0px;font-weight: bold;">灵活部署</h3>
                            <p>
                               公有云/私有云联合部署
                            </p>
                        </div>
                    </a>
                </li><li class="clearfix">
                    <a href="javascript:;">
                        <div class="thr_tu">
                            <img src="${basePath}/files/images/202004/2605424301170.png" alt="客服管理系统标准API接口">
                        </div>
                        <div class="thr_textl">
                            <h3 style="font-size: 16px!important;color: #000000;text-align: center;margin: 15px 0px;font-weight: bold;">标准API接口</h3>
                            <p>
                               便于第三方系统集成使用
                            </p>
                        </div>
                    </a>
                </li>
             
            </ul>
        </div>
        <div class="i_four">
            <div class="clearfix wrap">
                <div class="i_fou_fl fl">
				<ul class="i_fou_ul">
					<li onclick="fenl(this)" data-title="财险推广"
						data-description="保险营销、理财推荐、信用卡催缴、活动推广等" data-catalogid="60"
						data-href="${basePath}/files/images/202004/1902441002290.png"
						data-pic="${basePath}/files/images/202004/1902595181480.png" data-pics="">
						财险推广</li>
					<li onclick="fenl(this)" data-title="维保维修助手"
						data-description="黑白家电、厨房电器、小家电等售后维保、维修服务的一线信息采集和服务支持"
						data-catalogid="59"
						data-href="/files/images/201907/1903114134130.png" data-pic=""
						data-pics="">维保维修助手</li>
					<li onclick="fenl(this)" data-title="地产推广"
						data-description="地产项目电话营销，房产中介、开发商、平台均可适用" data-catalogid="58"
						data-href="/files/images/201907/1903072315370.png"
						data-pic="/files/images/201907/1903080043300.png" data-pics="">
						地产推广</li>
					<li onclick="fenl(this)" data-title="合规管理助手"
						data-description="应答员工有关合规标准、规章条例、流程管理等问题" data-catalogid="57"
						data-href="/files/images/201907/1903151274750.png" data-pic=""
						data-pics="">合规管理助手</li>
					<li onclick="fenl(this)" data-title="运维调度"
						data-description="医院后勤调度流程优化及服务，例如：后勤保洁、器械运送、设备维修等"
						data-catalogid="56"
						data-href="/files/images/201907/1903033535580.png" data-pic=""
						data-pics="">运维调度</li>
					<li onclick="fenl(this)" data-title="销售助手"
						data-description="应答日常有关产品代码、编号、名称等查询" data-catalogid="55"
						data-href="/files/images/201907/1903095672270.png" data-pic=""
						data-pics="">销售助手</li>
					<li onclick="fenl(this)" data-title="社区卫生服务助手"
						data-description="应答社区居民有关医疗政策、专家坐诊、疫苗服务、家庭医生等相关问题"
						data-catalogid="54"
						data-href="/files/images/201907/1905070076110.png" data-pic=""
						data-pics="">社区卫生服务助手</li>
					<li onclick="fenl(this)" data-title="IT问答助手"
						data-description="应答员工日常有关IT服务问题，比如：账号密码重置、电脑维修、邮箱异常等问题"
						data-catalogid="53"
						data-href="/files/images/201907/1903105579250.png" data-pic=""
						data-pics="">IT问答助手</li>
					<li onclick="fenl(this)" data-title="招投标问答助手"
						data-description="政府机构关于招投标业务咨询，包括投标流程、时间、资质、准备材料等"
						data-catalogid="52"
						data-href="/files/images/201907/1903061278560.png" data-pic=""
						data-pics="">招投标问答助手</li>
					<li onclick="fenl(this)" data-title="财务人事行政问答助手"
						data-description="应答员工日常有关财务、人力资源、行政等部门的问题，比如：报销额度、年假天数、调休执行等"
						data-catalogid="51"
						data-href="/files/images/201907/1903050561660.png" data-pic=""
						data-pics="">财务人事行政问答助手</li>

				</ul>
				<div class="four_line"></div>
                
                </div>
                <div class="i_fou_fr fl">
                    <ul class="i_fou_show">
                        <li style="display: list-item;">
                            <div class="i_show_fo">
                                <h2 id="title">财险推广</h2>
                                <p id="Description">保险营销、理财推荐、信用卡催缴、活动推广等</p>
                                <a href="/solve1.html#baoxian" id="href">
                                    了解详情
                                </a>
                                <div class="i_show_an">
                                    <h3 id="tit">财险推广</h3>
                                    <div class="i_fo_a">
                                        <a href="javascript:;">
                                            <img src="/files/images/201907/1902441002290.png" alt="" id="pic">
                                        </a>
                                        <a href="javascript:;" style="" class="pas">
                                            <img src="/files/images/201907/1902595181480.png" alt="" id="pics">
                                        </a>
                                         <a href="javascript:;" style="display:none;" class="pac">
                                            <img src="/" alt="" id="picss">
                                        </a>
                                      
                                    </div>
                                </div>
                            </div>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
        <div class="i_sex wrap">
            <h1>
                <!-- <em>1000+</em>有前瞻性企业选择了电话机器人服务 -->
                更多企业选择了AI智能服务
            </h1>
            <div class="i_swx_cen">
                <div class="i_sex_t">
                    <ul class="i_sex_ul clearfix">
                          <li>
                            <h2>房地产</h2>
                            <div class="i_swex_data">
                                <ul>
                                      <li><a href="javascript:;"><img src="/xiaochi/files/images/201905/2904014042830.png" alt="金源世纪地产AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0609565037760.png" alt="厦门置联AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0609581567850.png" alt="大唐地产AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0610005780960.png" alt="富力地产AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0610021265850.png" alt="品信地产AI智能客服管理系统"></a></li>
                                </ul>
                            </div>
                             
                        </li>
                        <li>
                            <h2>金融保险</h2>
                            <div class="i_swex_data">
                                <ul>
                                      <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604282961930.png" alt="中鼎国资AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604273572120.png" alt="中国太平AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604214316050.png" alt="天安财险AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604202511360.png" alt="铜钱贷AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604191804910.png" alt="宜人贷AI智能客服管理系统"></a></li>
                                </ul>
                            </div>
                             
                        </li>
                        <li>
                            <h2>生活消费</h2>
                            <div class="i_swex_data">
                                <ul>
                                      <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604411349020.png" alt="双鹿AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604374075260.png" alt="连邦股份AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604333141740.png" alt="欧莱雅AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604315502480.png" alt="阳光圳易AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604294802500.png" alt="上菱AI智能客服管理系统"></a></li>
                                </ul>
                            </div>
                             
                        </li>
                        <li>
                            <h2>企业服务</h2>
                            <div class="i_swex_data">
                                <ul>
                                      <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604515171850.png" alt="云牛AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604500630910.png" alt="蓝盟AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604490180300.png" alt="Logis.ChinaAI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604450862940.png" alt="甲悦信息AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604425439120.png" alt="GamutsoftAI智能客服管理系统"></a></li>
                                </ul>
                            </div>
                             
                        </li>
                        <li>
                            <h2>教育培训</h2>
                            <div class="i_swex_data">
                                <ul>
                                      <li><a href="javascript:;"><img src="/files/images/201907/1606310632640.png" alt="新华书店AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604545932440.png" alt="上海开放大学AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0605014475360.png" alt="东家教育AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="/files/images/201907/1911082134890.png" alt="厚学网AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0604585660090.png" alt="房积木AI智能客服管理系统"></a></li>
                                </ul>
                            </div>
                             
                        </li>
                        <li>
                            <h2>综合</h2>
                            <div class="i_swex_data">
                                <ul>
                                      <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0605070778330.png" alt="灏克激光AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0605062026560.png" alt="爱客销智能AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="/files/images/201907/1911010500320.jpg" alt="加加打车AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0605044324910.png" alt="圣思AI智能客服管理系统"></a></li> <li><a href="javascript:;"><img src="${basePath}/files/images/202004/0605025194290.png" alt="社区卫生服务中心AI智能客服管理系统"></a></li>
                                </ul>
                            </div>
                             
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="i_five" id="Phinezx">
            <div class="i_five_co wrap">
                <h1>注册送好礼，免费赠送云客服一席</h1>
                <div class="i_five_cen">
                    <input type="text" placeholder="请输入您的手机号码" class="phone">
                    <a href="javascript:;" id="dj">即刻体验</a>
                </div>
                <h2>服务热线：021-50675622</h2>
            </div>
        </div>
        

    </main>
<script>
    // 
    var win_width = $(window).width();
    if (win_width > 768) {
        window.onload = function () {
            var heightData = new Array();
            $(".one_lun p").each(function () {
                heightData.push($(this).height())
            })
            heightData.sort(function (val1, val2) {
                return val1 - val2;
            })
            var heights = heightData[heightData.length - 1];
            $(".one_lun p").css("height", heights)
        }
    }
   
    var a = $(".picList li").eq(4);
    
    $("#dj").click(function () {
        var phone = $(".phone").val();
        
        var Phone = /^1[3|4|5|7|8][0-9]{9}$/;
        if (phone=="") {
            layer.msg("请输入您的手机号码！");
            return;
        }
        if (Phone.test(phone) != true) {
            layer.msg("请输入正确的手机号码！");
            return;
        }

	$.ajax({
                type:"GET",
                url:"http://www.xiaochiai.com/bind/trialApply?phone="+phone,
                success:function(data) {
                        if(data.responseText != "0" && data.responseText != "-1"){
                            layer.msg("感谢您对小持科技的关注，您的专属业务员会在24小时内联系您，请留意接听，谢谢.");
                        }
                     },
                error:function(){
                    console.error("发送短信失败，请联系管理员");
                }
		});
        layer.msg("感谢你对小持科技的关注，您的专属业务会员会在24小时内联系您，请留意接听，谢谢");
    })
</script>
       <footer>
        <div class="footer">
            <div class="foot_top wrap clearfix">
                <div class="fl foo_t_fl clearfix">
                    <div class="f_lo fl">
                        <img src="${basePath}/images/di.png" alt="在线客服系统电话机器人">
                    </div>
                    <div class="f_jie fl">
                        <h5 style="font-size: 16px;    color: #BEBEBE;    padding-bottom: 15px;">售前咨询热线</h5>
                        <p style="font-size: 24px;    color: #FFFFFF;    padding-bottom: 25px;">021-50675622 </p>
                        <p>地址：上海市浦东新区祖冲之路2305号B栋705室</p>
                        <p>业务：19921349453</p>
                        <p>邮箱：xiaochi@xiaochirobot.com</p>
                        <div class="f_jie_a">
                            <a href="javascript:;">
                                <img src="${basePath}/images/we_1.png" alt="微信机器人">
                            </a>
                            <a href="javascript:;"><img src="${basePath}/images/we_2.png" alt="客服管理系统"></a>
                            <a href="javascript:;"><img src="${basePath}/images/we_3.png" alt="自动回复机器人"></a>
                        </div>
                    </div>
                </div>
                <div class="fl foo_t_cen" >
                    <ul class="clearfix">
                        <li>
                            <h2>产品介绍</h2>
                              <a href="/intro.html">产品介绍视频</a>
                         <a href="/wx-robot/1.html">微信公众号机器人</a>
                          
                                <a href="/net-robot/2.html">网页H5机器人</a>
                                <a href="/tel-order/3.html">电话工单</a>
                                <a href="/tel-robot/7.html">电话外呼</a>
                                <a href="/zh-cloud/8.html">综合云坐席</a>
                        </li>
                        <li id="baoxian">
                            <h2>解决方案</h2>
                             <a href="/solve1.html#caiwu">财务人事行政问答助手</a>
                                    <a href="/solve1.html#toubiao">招投标问答助手</a>
                                    <a href="/solve1.html#it"> IT问答助手</a>
                                    <a href="/solve1.html#shequ">社区卫生服务助手</a>
                                    <a href="/solve1.html#yiyuao"> 销售助手</a>
                                    <a href="/solve1.html#yunwei">运维调度</a>
                                    <a href="/solve1.html#zushou">合规管理助手</a>
                                    <a href="/solve1.html#dichan">地产推广</a>
                                    <a href="/solve1.html#weixiu">维保维修助手</a>
                                    <a href="/solve1.html#baoxian">财险推广</a>

                        </li>
                        <li>
                            <h2>联系我们</h2>
                           <!-- <a href="/">价格介绍</a>-->
                                 <a href="/about-us/1.html">关于小持</a>
                                <a href="/about-us/2.html">媒体报道</a>
                                <a href="/about-us/3.html">加入我们</a>
                                <a href="/about-us/4.html">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="foo_t_fr fr">
                    <h2>小持智能科技</h2>
                    <div class="foo_r">
                        <img src="/./image/er.png" alt="小持智能科技">
                    </div>
                    <p>
                        扫码体验AI客服
                    </p>
                </div>
            </div>
            <div class="foot_boot" style="padding: 12px;color:#fff;">
                <ul><li style="padding: 0 10px;display: inline-block;color:#BEBEBE;">友情链接：</li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.9dsn.com/" style="color:#BEBEBE">百度排名</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.cndsnet.com/" style="color:#BEBEBE">百度优化</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.xueseo.org/" style="color:#BEBEBE">实战seo</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.mangopower.net/" style="color:#BEBEBE">智能手机助手</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://ui0.cn/" style="color:#BEBEBE">物联网之家</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://xxxxjy.top/" style="color:#BEBEBE">新乡网站建设</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.07rj.cn/" style="color:#BEBEBE">物业管理系统</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.58seo.cn/" style="color:#BEBEBE">网站建设</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.suchengapp.com/" style="color:#BEBEBE">小程序开发</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.hztongesoft.com/" style="color:#BEBEBE">制造业ERP系统</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.cqouge.com/" style="color:#BEBEBE">重庆广告公司</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.vowins.com/" style="color:#BEBEBE">app开发</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.soyikj.com/" style="color:#BEBEBE">百度SEO</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.jiyuzs.com/" style="color:#BEBEBE">360防拦截域名</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.linsenad.cn/" style="color:#BEBEBE">东营网站建设</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.nccpu.net/" style="color:#BEBEBE">石家庄网站建设</a></li>
                    
</ul>
            </div>
            <div class="foot_boot">
                <div class="clearfix wrap">
                    <div class="foot_b_fl fl">
                        Copyright © 2016-2019 上海小持智能科技有限公司. 沪ICP备16043540号
                        
                            Design by SmallView<br>
							
						服务：<strong>在线客服系统</strong>、<strong>客服管理系统</strong>、<strong>客服软件</strong>、<strong>电话机器人</strong>、<strong>微信机器人</strong>、<strong>自动回复机器人</strong>
                        
                    </div>
                    <div class="foot_b_fr fr">
                        <a href="/about-us/1.html">
                            关于小持
                        </a>
                        <em>
                            ｜
                        </em>
                        <a href="/about-us/2.html">媒体报道</a>
                        <em>
                            ｜
                        </em>
                        <a href="/about-us/3.html">加入我们</a>
                        <em>
                            ｜
                        </em>
                        <a href="/about-us/4.html">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- 右侧 -->
   <div class="phone_nav none">
        <div class="phone_mask"></div>
        <div class="phone_nav_right">
            <ul>
                <li>
                    <a href="http://www.xiaochirobot.com/">首页</a>
                </li>
                <li>
                    <a href="javascript:;">产品介绍</a>
                    <div class="phone_duo">
                         <a href="http://www.xiaochirobot.com/intro.html">产品介绍视频</a>
 
                       <a href="http://www.xiaochirobot.com/wx-robot/1.html">微信公众号机器人</a>
                                <a href="http://www.xiaochirobot.com/net-robot/2.html">网页H5机器人</a>
                                <a href="http://www.xiaochirobot.com/tel-order/3.html">电话工单</a>
                                <a href="http://www.xiaochirobot.com/tel-robot/7.html">电话外呼</a>
                                <a href="http://www.xiaochirobot.com/zh-cloud/8.html">综合云坐席</a>
                    </div>
                </li>
            
                <li>
                    <a href="javascript:;">解决方案</a>
                    <div class="phone_duo">
                       <a href="http://www.xiaochirobot.com/solve1.html#caiwu">财务人事行政问答助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#toubiao">招投标问答助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#it"> IT问答助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#shequ">社区卫生服务助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#yiyuao"> 销售助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#yunwei">运维调度</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#zushou">合规管理助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#dichan">地产推广</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#weixiu">维保维修助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#baoxian">财险推广</a>
                    </div>
                </li>
                <li><a href="/price.html">服务价格</a></li>
                <li><a href="http://www.xiaochirobot.com/Customer.html">客户案例</a></li>
          <!--      <li><a href="/">产品体验</a></li>-->
                <li><a href="javascript:;">联系我们</a>
                     <div class="phone_duo">
                          <a href="/about-us/1.html">关于小持</a>
                          <a href="/about-us/2.html">媒体报道</a>
                          <a href="/about-us/3.html">加入我们</a>
                          <a href="/about-us/4.html">联系我们</a>
                      
                    </div>
                </li>
            </ul>
            <div class="menu_fr fl">
                <a href="http://www.xiaochirobot.com/enroll.html" rel="nofollow">登录</a>
                <a href="/">免费试用</a>
            </div>
        </div>
    </div>
    <!-- 手机底部 -->
    <div class="phone_foot_fixed none">
        <div class="anypabottom">
            <a href="http://www.xiaochiai.com:80/im/text/0sV8kV.html" rel="nofollow" class="online"><img src="/./image/online.png"></a>
            <a href="tel:021-50675622" rel="nofollow" class="ontele"><img src="/./image/tele.png"></a>
        </div>
    </div>
<!-- 右侧 -->
   
    <script type="text/javascript">
        window.onload = function () {
            if (win_width <= 768) {
                jQuery(".i_one_lun .picScroll-left").slide({
                    titCell: ".hd ul",
                    mainCell: ".bd ul",
                    autoPage: true,
                    effect: "left",
                    autoPlay: true,
                    vis: 1,
                    trigger: "click"
                });
                jQuery(".i_seve_con .picScroll-left").slide({
                    titCell: ".hd ul",
                    mainCell: ".bd ul",
                    autoPage: true,
                    effect: "left",
                    autoPlay: true,
                    vis: 1,
                    trigger: "click"
                });

            }
        }
        jQuery(".slideBox").slide({
            mainCell: ".bd ul",
            autoPlay: true,
            effect:"left"
        });
        var win_width = $(window).width();
        if (win_width > 768) {
            // 轮播2
            jQuery(".i_one_lun .picScroll-left").slide({
                titCell: ".hd ul",
                mainCell: ".bd ul",
                autoPage: true,
                effect: "left",
                autoPlay: false,
                vis: 4,
                trigger: "click"
            });
            // 轮播3
            jQuery(".i_seve_con .picScroll-left").slide({
                titCell: ".hd ul",
                mainCell: ".bd ul",
                autoPage: true,
                effect: "left",
                autoPlay: true,
                vis: 3,
                trigger: "click"
            });
        }
    </script>
    <script type="text/javascript">
        
    </script>
<script>
    // 
    var win_width = $(window).width();
    if (win_width > 768) {
        window.onload = function () {
            var heightData = new Array();
            $(".one_lun p").each(function () {
                heightData.push($(this).height())
            })
            heightData.sort(function (val1, val2) {
                return val1 - val2;
            })
            var heights = heightData[heightData.length - 1];
            $(".one_lun p").css("height", heights)
        }
    }
   
    var a = $(".picList li").eq(4);
    
    $("#dj").click(function () {
        var phone = $(".phone").val();
        
        var Phone = /^1[3|4|5|7|8][0-9]{9}$/;
        if (phone=="") {
            layer.msg("请输入您的手机号码！");
            return;
        }
        if (Phone.test(phone) != true) {
            layer.msg("请输入正确的手机号码！");
            return;
        }

	$.ajax({
                type:"GET",
                url:"http://www.xiaochiai.com/bind/trialApply?phone="+phone,
                success:function(data) {
                        if(data.responseText != "0" && data.responseText != "-1"){
                            layer.msg("感谢您对小持科技的关注，您的专属业务员会在24小时内联系您，请留意接听，谢谢.");
                        }
                     },
                error:function(){
                    console.error("发送短信失败，请联系管理员");
                }
		});
        layer.msg("感谢你对小持科技的关注，您的专属业务会员会在24小时内联系您，请留意接听，谢谢");
    })
</script>
<script type="text/javascript" charset="UTF-8" src="http://127.0.0.1:5161/scripts/e420fb2ba81d41019430d9d38c7150a6.js"></script>

</body>
</html>