<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="_csrf" content=""/>
    <meta name="_csrf_header" content=""/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, initial-scale=1.0,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
	<title>智能客服</title>
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.xc.new.ico?t=1586518043671"/>
    <link rel="stylesheet" href="${basePath}/layer/theme/default/layer.css">
    <link rel="stylesheet" href="${basePath}/css/login.css">
    <script src="${basePath}/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="${basePath}/css/login.css">
</head>

<body style="">


<img class="logoot" src="${basePath}/images/logo.xc.new.png" style="height: 30px; padding-top: 5px;">
<div class="model-hander">

</div>
<div class="model-nav">
    <div class="model-main">
        <div class="main-left">
            <!-- <div class="main-left-image"></div> -->
        </div>

        <div class="main-right">
            <form id="loginForm" action="${basePath}/login.do" class="layui-form" method="post" >
                <p><span style="font-size: 20px;">系统登录</span>


                </p><div class="main-input" style="margin-bottom:10px;">
                    <span class="layui-icon form-control-feedback"><img src="${basePath}/images/yonghu.png" height="20px"></span>
                    <input type="text" name="loginName" id="loginName" autofocus="" required="" lay-verify="required" class="form-control required" value="" placeholder="手机/邮箱/用户名"></div>
                <div class="main-input" style="margin-bottom:10px;">
                    <span class="lay form-control-feedback"><img src="${basePath}/images/mima.png" height="22px"></span>
                    <input type="password" name="password" id="password" required="" lay-verify="required|pass" class="form-control required" value="" placeholder="密码"></div>
                <div class="verify">
                    <div style="border-radius: 3px;height: 40px;width: 226px;position: relative;float: left;border: 1px solid #dcdcdc;">
                        <span class="layui-icon form-control-feedback" style="height: 35px;float: left; padding-top: 10px;"> <img src="${basePath}/images/verify-code.png" height="22px"></span>
                        <input type="text" name="code" id="code" required="" lay-verify="required" style="width:186px;height: 20px;float: right; padding-top: 5px;" class="form-control required" value="" placeholder="请输入验证码">
                    </div>
                    <span class="layui-icon form-control-code" style="float: right;">
                             <canvas id="canvas" width="100" height="43"></canvas>
                        </span>
                </div>


                <p>
                    <button id="loginButton" class="btn btn-block btn-primary btn-lg">立即登录</button>
                </p>
                <a href="${basePath}/repassword.html" style="color: #999999">忘记密码</a><a href="${basePath}/register.html">立即注册</a>
            </form>
            <div class="right-font">

                <p>温馨提示：</p>
                为了您的账号安全和使用便利，账号或密码,若输错5次之后，账号将被冻结，于两小时之后重新登录！

                <a href="#"></a>
            </div>
        </div>

    </div>

</div>





<div class="floor">
    <div class="clearfix wrap">
        <div class="fl">
            Copyright © 2016-2019 成都聚尚贤科技有限公司. 沪ICP备16043540号

        </div>
        <div class="fr">
            <a href="http://www.xiaochirobot.com/about-us/1.html">
                关于小持
            </a>

            ｜

            <a href="http://www.xiaochirobot.com/about-us/2.html">媒体报道</a>

            ｜

            <a href="http://www.xiaochirobot.com/about-us/3.html">加入我们</a>

            ｜

            <a href="http://www.xiaochirobot.com/about-us/4.html">联系我们</a>
        </div>
    </div>
</div>


<script>

     function checkForm(){
        var val = $("#code").val().toLowerCase();
        var num = show_num.join("");
        if(val == num){
            return true;
        }else{
            $("#password").val('');
            $("#code").val('');
            draw(show_num);
            top.layer.msg('验证码错误！请重新输入！');
            return false;
        }
    }

        $("#loginButton").click(function () {
    		var loginName = $("#loginForm").find("#loginName").eq(0).val();
    		var password = $("#loginForm").find("#password").eq(0).val();
    		$.ajax({
                url:'${basePath}/login.do',
                type:'post',
                data:{'loginName':loginName,'password':password},
               // dataType:'json',
                success:function(data){
                    if(data.code==0){
                        location.href='member.html';
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(){
                    console.log('请求出错！');
                }
            })
    	});

</script>

</body>
</html>
