
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection" />
    <meta name="baidu-site-verification" content="IBj2qfWtH2" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="/image/favicon.png" />
		<meta name="renderer" content="webkit" />
		<meta name="robots" content="index, follow" />
		<title>小持科技·智能客服 | 专业专注·用心服务</title>
    	<meta name="description" content="上海小持智能科技专注为企业提供在线客服机器人，微信机器人，电话机器人，网页机器人，手机H5机器人，AI客服，客户行业覆盖房地产、金融、教育培训、生活消费等众多领域。注册送好礼，在线坐席一位，终身免费。">
		<meta name="keyword" content="小持科技 智能客服 在线客服 微信机器人 电话机器人 客服机器人 云客服 AI客服 上海小持智能科技 上海小持智能科技有限公司">
		<meta name="author" content="http://www.xiaochirobot.com/">
		<meta  name="copyright" content="上海小持智能科技有限公司, All Rights Reserved" />
		 
    <link rel="stylesheet" href="${basePath}/css/animate.min.css">
    <link rel="stylesheet" href="${basePath}/css/public.css">
    <link rel="stylesheet" href="${basePath}/css/frame.css">
     <link rel="stylesheet" href="${basePath}/css/solve.css">
     <link rel="stylesheet" href="${basePath}/css/">
     <link rel="stylesheet" href="${basePath}/css/">
    
    <link rel="stylesheet" href="${basePath}/css/media.css">
    <link href="${basePath}/css/add_media6.24.css" rel="stylesheet"/>
    <script src="${basePath}/js/jquery-1.12.4.min.js"></script>
    <script src="${basePath}/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="${basePath}/js/common.js"></script>
        
<script defer="true" src="http://www.xiaochiai.com:80/im/0sV8kV.html"></script>
    <script>
        // 字体
        document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + "px";
    </script>
     
    


</head>

<body>
     <header>
        <div class="header on">
            <div class="clearfix he_cons wrap">
                <div class="logo fl">
                      <a href="/">
                        <img src="/xiaochi/files/images/201907/0104100247760.png" alt="小持客服管理系统" class="logo_one">
                        <!-- <img src="./image/logo2.png" alt="" class="logo_two"> -->
                    </a>
                
                   
                </div>
                <div class="fr menu clearfix">
                    <div class="menu_fl fl">
                        <ul class="clearfix">
                            <li><a href="http://www.xiaochirobot.com/">首页</a></li>
                            <li>
                                <a href="/wx-robot/1.html">产品介绍</a>
                                <div class="menu_boot">
								<a href="/intro.html">产品介绍视频</a>
                                <a href="/wx-robot/1.html">微信公众号机器人</a>
                                <a href="/net-robot/2.html">网页H5机器人</a>
                                <a href="/tel-order/3.html">电话工单</a>
                                <a href="/tel-robot/7.html">电话外呼</a>
                                <a href="/zh-cloud/8.html">综合云坐席</a>
                           <!--      <a href="javascript:;">接口扩展</a>-->
                                </div>
                            </li>
                            <li>
                                <a href="/solve1.html">解决方案</a>
                                <div class="menu_boot menu_bootss">
                                    <a href="/solve1.html#caiwu">财务人事行政问答助手</a>
                                    <a href="/solve1.html#toubiao">招投标问答助手</a>
                                    <a href="/solve1.html#it"> IT问答助手</a>
                                    <a href="/solve1.html#shequ">社区卫生服务助手</a>
                                    <a href="/solve1.html#yiyuao">医药销售助手</a>
                                    <a href="/solve1.html#yunwei">运维调度</a>
                                    <a href="/solve1.html#zushou">合规管理助手</a>
                                    <a href="/solve1.html#dichan">地产推广</a>
                                    <a href="/solve1.html#weixiu">维保维修助手</a>
                                    <a href="/solve1.html#baoxian">财险推广</a>
                                </div>
                            </li>
                            <li><a href="/price.html">服务价格</a></li>
                            <li><a href="${basePath}/demo.html">产品体验</a>
                            </li>
                         <li><a href="${basePath}/download.html">下载</a>
                        </ul>
                    </div>
                    <div class="menu_fr fl">
                        <a href="http://www.xiaochiai.com/login.html" rel="nofollow">登录</a>
                        <a href="http://www.xiaochiai.com/register.html" rel="nofollow">免费试用</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 手机端头部 -->
    <div class="p_head_null none">
        <div class="phone_header">
            <div class="hea_content wrap clearfix">
                <div class="nav_icon nav_icon_animate">
                    <img src="/./images/nav_icon.png" alt="客服管理系统" class="nv_show" style="display: inline;">
                    <img src="/./images/clone.png" alt="客服软件" class="nv_clone" style="display: none;">
                </div>
                <div class="hea_logo fl">
                  
                       <a href="/">
                        <img src="/./images/logo(1).png" alt="自动回复机器人">
                    </a>
                               
                </div>
                <div class="p_heder_rg">

                </div>
            </div>
        </div>
    </div>
        


<script>
    $(function () {
        var i = location.hash;
        var array = ["#caiwu", "#it", "#yiyuao", "#zushou", "#weixiu", "#toubiao", "#shequ", "#yunwei", "#dichan", "#baoxian"];
        var hArr = new Array();
        var aads;
        //for (var j = 0; j < array.length; j++) {
        //    (function (j) {
        //        var h = $(array[j]).height();
        //        hArr.push(h);
        //        console.log(hArr);
        //    }(j))
        //    if (i == array[j]) {

        //        aads = hArr[j] * j + 450; 
        //    }
        //}
        $('html,body').animate({ scrollTop: aads }, 500);
    })
    //
    //    var i = location.hash;
    //    var aads = $(i).clientTop;
    //    alert(aads)


    //})
</script>
<link rel="stylesheet" href="/css/solve.css">
    <main>
        <div class="ban_tu">
            <img src="${basePath}/images/jjfa(1).jpg" alt="">
        </div>
        <div class="sol_cons wrap">
                       
        <html>
<head>
	<title></title>
</head>
<body>
<table>
	<thead>
		<tr id="caiwu">
			<td width="151px">产品</td>
			<td width="179px">解决方案</td>
			<td width="627px">场景描述</td>
		</tr>
	</thead>
	<tbody>
		<tr id="it">
			<td class="s_a" rowspan="9">
			<div class="sol_one">文字问答机器人 (网站/微信/H5/ APP)</div>
			</td>
			<td class="s_b">
			<div class="sol_two">财务、人事行政问答助手</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">应答员工日常有关财务、人力资源、行政等部门的问题，比如：报销额度、年假天数、调休执行等</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/f_1.jpg" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">员工</div>
			</td>
		</tr>
		<tr id="yiyuao">
			<td class="s_b">
			<div class="sol_two">IT问答助手</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">应答员工日常有关IT服务问题，比如：账号密码重置、电脑维修、邮箱异常等问题</div>
			</td>
			<td class="s_d">
			<div class="sol_four">
			<div>&nbsp;<img alt="" src="./image/f_2.jpg" /></div>

			<div class="sol_tuss"><img alt="" src="./image/oly.png" /></div>
			</div>
			</td>
			<td class="s_f s_add">
			<div class="sol_sex">
			<p class="sol_tex">员工<br />
			&nbsp;</p>

			<p class="sol_ted">员工</p>
			</div>
			</td>
		</tr>
		<tr id="zushou">
			<td class="s_b">
			<div class="sol_two">医药代表销售助手</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">应答日常有关产品代码、编号、名称等查询</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/tab_1.png" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">医药代表</div>
			</td>
		</tr>
		<tr id="weixiu">
			<td class="s_b">
			<div class="sol_two">合规管理助手</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">应答员工有关合规标准、规章条例、流程管理等问题</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/tab_2.png" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">员工</div>
			</td>
		</tr>
		<tr id="toubiao">
			<td class="s_b">
			<div class="sol_two">维保维修助手</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">黑白家电、厨房电器、小家电等售后维保、维修服务的一线信息采集和服务支持</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/tab_3.png" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">消费者</div>
			</td>
		</tr>
		<tr>
			<td class="s_b">
			<div class="sol_two">招投标问答助手</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">政府机构关于招投标业务咨询，包括投标流程、时间、资质、准备材料等</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/tab_4.png" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">投标方</div>
			</td>
		</tr>
		<tr id="">
			<td class="s_b">
			<div class="sol_two">电商在线客服</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">应答顾客有关商品类型、库存、物流，订单积分等的查询</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/tab_5.png" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">消费者</div>
			</td>
		</tr>
		<tr id="shequ">
			<td class="s_b">
			<div class="sol_two">医院服务问答助手</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">应答居民有关门诊介绍、专家坐诊、 医疗政策、健康讲座的相关问题</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/tab_6.png" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">医院辐射区居民</div>
			</td>
		</tr>
		<tr id="yunwei">
			<td class="s_b">
			<div class="sol_two">社区卫生服务助手</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">应答社区居民有关医疗政策、专家坐诊、疫苗服务、家庭医生等相关问题</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/tab_7.png" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">社区居民</div>
			</td>
		</tr>
		<tr id="dichan">
			<td class="s_a" rowspan="3">
			<div class="sol_one">语音机器人 (电话)</div>
			</td>
			<td class="s_b">
			<div class="sol_two">运维调度</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">医院后勤调度流程优化及服务，例如：后勤保洁、器械运送、设备维修等</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="./image/tab_8.png" /></div>
			</td>
			<td class="s_f" id="dichan">
			<div class="sol_sex">员工</div>
			</td>
		</tr>
		<tr id="baoxian">
			<td class="s_b">
			<div class="sol_two">地产类推广</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">地产项目电话营销，房产中介、开发商、平台均可适用</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="/xiaochi/files/images/201907/030341026281.jpg" style="width: 114px; height: 50px;" /> <img alt="" src="./image/tab_10.png" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">消费者</div>
			</td>
		</tr>
		<tr>
			<td class="s_b">
			<div class="sol_two">财险推广</div>
			</td>
			<td class="s_c">
			<div class="sol_thr">保险营销、理财推荐、信用卡催缴、活动推广等</div>
			</td>
			<td class="s_d">
			<div class="sol_four"><img alt="" src="/files/images/201907/160705455668.png" style="width: 130px; height: 21px;" />&nbsp;<img alt="" src="/files/images/201907/171108014620.png" style="width: 130px; height: 32px;" /></div>
			</td>
			<td class="s_f">
			<div class="sol_sex">消费者</div>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>


        </div>
    </main>
       <footer>
        <div class="footer foot_price">
            <div class="foot_top wrap clearfix">
                <div class="fl foo_t_fl clearfix">
                    <div class="f_lo fl">
                        <img src="/./image/di.png" alt="电话机器人">
                    </div>
                    <div class="f_jie fl">
                        <h1>售前咨询热线</h1>
                        <h2>021-50675622 </h2>
                        <p>地址：上海市浦东新区祖冲之路2305号B栋705室</p>
                        <p>业务：19921349453</p>
                        <p>邮箱：xiaochi@xiaochirobot.com</p>
                        <div class="f_jie_a">
                            <a href="javascript:;">
                                <img src="/./image/we_1.png" alt="">
                            </a>
                            <a href="javascript:;"><img src="/./image/we_2.png" alt="客服软件"></a>
                            <a href="javascript:;"><img src="/./image/we_3.png" alt="微信机器人"></a>
                        </div>
                    </div>
                </div>
                <div class="fl foo_t_cen" >
                    <ul class="clearfix">
                        <li>
                            <h2>产品介绍</h2>
                              <a href="/intro.html">产品介绍视频</a>
                         <a href="/wx-robot/1.html">微信公众号机器人</a>
                          
                                <a href="/net-robot/2.html">网页H5机器人</a>
                                <a href="/tel-order/3.html">电话工单</a>
                                <a href="/tel-robot/7.html">电话外呼</a>
                                <a href="/zh-cloud/8.html">综合云坐席</a>
                        </li>
                        <li id="baoxian">
                            <h2>解决方案</h2>
                             <a href="/solve1.html#caiwu">财务人事行政问答助手</a>
                                    <a href="/solve1.html#toubiao">招投标问答助手</a>
                                    <a href="/solve1.html#it"> IT问答助手</a>
                                    <a href="/solve1.html#shequ">社区卫生服务助手</a>
                                    <a href="/solve1.html#yiyuao"> 销售助手</a>
                                    <a href="/solve1.html#yunwei">运维调度</a>
                                    <a href="/solve1.html#zushou">合规管理助手</a>
                                    <a href="/solve1.html#dichan">地产推广</a>
                                    <a href="/solve1.html#weixiu">维保维修助手</a>
                                    <a href="/solve1.html#baoxian">财险推广</a>

                        </li>
                        <li>
                            <h2>联系我们</h2>
                           <!-- <a href="/">价格介绍</a>-->
                                 <a href="/about-us/1.html">关于小持</a>
                                <a href="/about-us/2.html">媒体报道</a>
                                <a href="/about-us/3.html">加入我们</a>
                                <a href="/about-us/4.html">联系我们</a>
                        </li>
                    </ul>
                </div>
                <div class="foo_t_fr fr">
                    <h2>小持智能科技</h2>
                    <div class="foo_r">
                        <img src="/./image/er.png">
                    </div>
                    <p>
                        扫码体验AI客服
                    </p>
                </div>
            </div>
            <div class="foot_boot" style="padding: 12px;color:#fff;">
                <ul><li style="padding: 0 10px;display: inline-block;color:#BEBEBE;">友情链接：</li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.9dsn.com/" style="color:#BEBEBE">百度排名</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.cndsnet.com/" style="color:#BEBEBE">百度优化</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.xueseo.org/" style="color:#BEBEBE">实战seo</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.mangopower.net/" style="color:#BEBEBE">智能手机助手</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://ui0.cn/" style="color:#BEBEBE">物联网之家</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://xxxxjy.top/" style="color:#BEBEBE">新乡网站建设</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.07rj.cn/" style="color:#BEBEBE">物业管理系统</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.58seo.cn/" style="color:#BEBEBE">网站建设</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.suchengapp.com/" style="color:#BEBEBE">小程序开发</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.hztongesoft.com/" style="color:#BEBEBE">制造业ERP系统</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.cqouge.com/" style="color:#BEBEBE">重庆广告公司</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.vowins.com/" style="color:#BEBEBE">app开发</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.soyikj.com/" style="color:#BEBEBE">百度SEO</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.jiyuzs.com/" style="color:#BEBEBE">360防拦截域名</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.linsenad.cn/" style="color:#BEBEBE">东营网站建设</a></li>
                    
                    <li style="padding: 0 10px;display: inline-block;"><a target="_blank" href="http://www.nccpu.net/" style="color:#BEBEBE">石家庄网站建设</a></li>
                    
</ul>
            </div>
            <div class="foot_boot">
                <div class="clearfix wrap">
                    <div class="foot_b_fl fl">
                        Copyright © 2016-2019 上海小持智能科技有限公司. 沪ICP备16043540号
                        <a href="http://www.smallview.cn" rel="nofollow" target="_blank" style="font-size: 12px;color:#BDBDBD;">
                            By SmallView
                        </a>
                    </div>
                    <div class="foot_b_fr fr">
                        <a href="/about-us/1.html">
                            关于小持
                        </a>
                        <em>
                            ｜
                        </em>
                        <a href="/about-us/2.html">媒体报道</a>
                        <em>
                            ｜
                        </em>
                        <a href="/about-us/3.html">加入我们</a>
                        <em>
                            ｜
                        </em>
                        <a href="/about-us/4.html">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- 右侧 -->
   <div class="phone_nav none">
        <div class="phone_mask"></div>
        <div class="phone_nav_right">
            <ul>
                <li>
                    <a href="http://www.xiaochirobot.com/">首页</a>
                </li>
                <li>
                    <a href="javascript:;">产品介绍</a>
                    <div class="phone_duo">
                         <a href="http://www.xiaochirobot.com/intro.html">产品介绍视频</a>
 
                       <a href="http://www.xiaochirobot.com/wx-robot/1.html">微信公众号机器人</a>
                                <a href="http://www.xiaochirobot.com/net-robot/2.html">网页H5机器人</a>
                                <a href="http://www.xiaochirobot.com/tel-order/3.html">电话工单</a>
                                <a href="http://www.xiaochirobot.com/tel-robot/7.html">电话外呼</a>
                                <a href="http://www.xiaochirobot.com/zh-cloud/8.html">综合云坐席</a>
                    </div>
                </li>
            
                <li>
                    <a href="javascript:;">解决方案</a>
                    <div class="phone_duo">
                       <a href="http://www.xiaochirobot.com/solve1.html#caiwu">财务人事行政问答助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#toubiao">招投标问答助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#it"> IT问答助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#shequ">社区卫生服务助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#yiyuao"> 销售助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#yunwei">运维调度</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#zushou">合规管理助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#dichan">地产推广</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#weixiu">维保维修助手</a>
                                    <a href="http://www.xiaochirobot.com/solve1.html#baoxian">财险推广</a>
                    </div>
                </li>
                <li><a href="/price.html">服务价格</a></li>
                <li><a href="http://www.xiaochirobot.com/Customer.html">客户案例</a></li>
          <!--      <li><a href="/">产品体验</a></li>-->
                <li><a href="javascript:;">联系我们</a>
                     <div class="phone_duo">
                          <a href="/about-us/1.html">关于小持</a>
                          <a href="/about-us/2.html">媒体报道</a>
                          <a href="/about-us/3.html">加入我们</a>
                          <a href="/about-us/4.html">联系我们</a>
                      
                    </div>
                </li>
            </ul>
            <div class="menu_fr fl">
                <a href="http://www.xiaochirobot.com/enroll.html" rel="nofollow">登录</a>
                <a href="/">免费试用</a>
            </div>
        </div>
    </div>
	
    <!-- 手机底部 -->
    <div class="phone_foot_fixed none">
        <div class="anypabottom">
            <a href="http://www.xiaochiai.com:80/im/text/0sV8kV.html" rel="nofollow" class="online"><img src="/./image/online.png"></a>
            <a href="tel:021-50675622" class="ontele" rel="nofollow"><img src="/./image/tele.png"></a>
        </div>
    </div>
	
	
	<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = 
document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>


    </body>

</html>
