<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理中心 - 内部聊天记录</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="${basePath}/assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="${basePath}/vendors/bundle.css" type="text/css">
<!-- Style -->
<link rel="stylesheet" href="${basePath}/vendors/select2/css/select2.min.css" type="text/css">
    <!-- App styles -->
    <link rel="stylesheet" href="${basePath}/assets/css/app.css" type="text/css">
</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->


<!-- begin::main -->
<div id="main">

    <!-- begin::navigation -->
    <div class="navigation">

        <div class="navigation-menu-tab">

            <div class="flex-grow-1">
               <ul>                
                <li>
                        <a class="active" href="#" data-toggle="tooltip" data-placement="right" title="首页"  data-nav-target="#personCommon">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="个人常用功能"
                           data-nav-target="#personCommon">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="系统状态监控" data-nav-target="#systemStatusMonitor">
                            <i data-feather="monitor"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="智能微微配置"   data-nav-target="#robotConfig">
                            <i data-feather="user-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="辅助功能管理" data-nav-target="#assistConfig">
                            <i data-feather="tool"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="咨询入口管理" data-nav-target="#consultConfig">
                            <i data-feather="message-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="网页样式配置" data-nav-target="#pageStyleConfig">
                            <i data-feather="file-plus"></i>
                        </a>
                    </li>
                     <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="基础信息设置" data-nav-target="#basicSettings">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- begin::navigation menu -->
        <div class="navigation-menu-body">

            <!-- begin::navigation-logo -->
              <div>
                <div id="navigation-logo">
                    <a href="index.html">
                   <h4>辅助功能管理</h4>
                    </a>
                </div>
            </div>
            <!-- end::navigation-logo -->

            <div class="navigation-menu-group">
				<div class="open" id="personCommon">
                    <ul>
                        <li class="navigation-divider">个人常用功能</li>
                        
                         <li><a href="alerts.html">友好对话</a></li>
                        <li><a href="alerts.html">自动回复设置</a></li>
                        <li><a class="active" href="#">内部聊天记录</a></li>
                        <li><a href="${basePath}/commonLanguage/index.html">个人常用语</a></li>
                        <li><a href="${basePath}/changePassword/index.html">修改登录密码</a></li>
                     </ul>

                </div>
                <div id="systemStatusMonitor">
                    <ul>
                        <li class="navigation-divider">系统状态监控</li>
                        <li><a href="login.html">客服状态日志查询</a></li>                        
                        <li><a href="register.html">分组信息监控</a></li>
                        <li><a href="recover-password.html">客服登录日志查询</a></li>
                        <li><a href="recover-password.html">系统操作日志查询</a></li>
                    </ul>
                </div>
                <div id="robotConfig">
                    <ul>
                        <li class="navigation-divider">智能微微配置</li>
                        <li>
                            <a href="chat.html">
                                <span>问候语配置</span>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <span>知识库配置</span>
                            </a>
                        </li>
                        <li>
                            <a href="chat.html">
                                <span>知识库分类</span>
                            </a>
                        </li>
                    
                    </ul>
                </div>
                
                <div id="assistConfig">
                    <ul>
                        <li><a href="login.html">AI助手</a></li>
                        <li><a  href="${basePath}/commonLanguageCategory/index.html">常用语分类管理</a></li>
                        <li><a class="active" href="${basePath}/commonLanguage/index.html">常用语内容管理</a></li>
                        <li><a href="login.html">客户信息字段管理</a></li>
                        <li><a href="${basePath}/summaryCategory/index.html">总结标签管理</a></li>
                        <li><a href="${basePath}/chatTeam/index.html">群管理</a></li>
                     </ul>
                </div>
                <div id="pageStyleConfig">
                    <ul>
                        <li class="navigation-divider">网页别名设置</li>
                        <li><a href="login.html">图片素材管理</a></li>
                        <li><a href="login.html">网页样式配置</a></li>
                     </ul>
                </div>
                
                  <div id="basicSettings">
                    <ul>
                        <li class="navigation-divider">客服账号管理</li>
                        <li><a href="login.html">客服分组管理</a></li>
                        <li><a href="${basePath}/department/index.html">部门信息管理</a></li>
                        <li><a href="recover-password.html">公司角色管理</a></li>
                        <li><a href="lock-screen.html">公司角色分配</a></li>
                        <li><a href="profile.html">接入策略管理</a></li>
                        <li><a href="timeline.html">接入渠道配置</a></li>
                        <li><a href="invoice.html">访客屏蔽管理</a></li>

                        <li><a href="${basePath}/site/index.html">子站点管理</a></li>
                        <li><a href="search-result.html">公司信息配置</a></li>
                        <li><a href="blank-page.html">公司全局配置</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- end::navigation menu -->

    </div>
    <!-- end::navigation -->

    <!-- begin::main-content -->
    <main class="main-content">

        <div class="page-header">
            <div class="container-fluid d-sm-flex justify-content-between">
                <h4>内部聊天记录</h4>
            </div>
        </div>


        <div class="container-fluid">

			<div class="row">
				<div class="col-md-12">

					<table class="table mb-4 mt-4">
						<thead class="thead-light">
							<tr>
								<th>#</th>
								<th class="text-left">发送方ID</th>
								<th class="text-left">发送方昵称</th>
								<th class="text-left">接收方ID</th>
								<th class="text-left">接收方昵称</th>
								<th class="text-left">聊天消息</th>
								<th class="text-left">发送日期</th>
							</tr>
						</thead>
						<tbody>
							<#list pageInfo.list as bean>
							<tr class="text-left">
								<td class="text-left">${pageInfo.startRow+bean_index}</td>
								<td class="text-left">${bean.message!}</td>
								<td class="text-left">${bean.message!}</td>
								<td class="text-left">${bean.message!}</td>
								<td class="text-left">${bean.message!}</td>
								<td class="text-left">${bean.message!}</td>
								<td class="text-left">--</td>

							</tr>
							</#list>
						</tbody>
					</table>

				</div>
			</div>

		</div>

        <!-- end::footer -->

    </main>
    <!-- end::main-content -->

</div>
<!-- end::main -->
<!-- insert modal begin-->
<div class="modal fade" id="addCommonLanguageCategoryMode" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <form id="addCommonLanguageForm"  onsubmit="return checkAddCommonLanguageForm()">
     <input type="hidden" id="id" name="id"/>
     <input type="hidden" id="type" name="type" value="1"/>
     
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">新增分类信息</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ti-close"></i>
        </button>
      </div>
      <div class="modal-body">
       
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">常用语类别:</label>
            <select class="select2-example" id="categoryId" name="categoryId">
       
			
			</select>
          </div>
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">常用语标题:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="请输入分类名称" required="">
            <div class="invalid-feedback" id="name-feedback"></div>
          </div>
          <div class="form-group">
              <label for="message-text" class="col-form-label">常用语内容:</label>
              <input type="text" class="form-control" id="content" name="content" placeholder="请输入常用语内容" >
            </div>
         
       </div>
       <div class="modal-footer">
          <button  type="button" class="btn btn-primary"  id="saveCategoryButton" onClick="saveCommonLanguageCategory()">保存</button>
       </div>
       </form>
     </div>
  </div>
</div>


<!-- insert modal end -->
<!-- Plugin scripts -->
<script src="${basePath}/vendors/bundle.js"></script>

<!-- Select2 -->
<script src="${basePath}/vendors/select2/js/select2.min.js"></script>
<!-- <script src="${basePath}/assets/js/examples/select2.js"></script> -->


<!-- Prism -->
<script src="${basePath}/vendors/prism/prism.js"></script>

<!-- App scripts -->
<script src="${basePath}/assets/js/app.js"></script>
<script type="text/javascript">
$(document).ready(function () {

    $('#categoryId').select2({
        placeholder: 'Select'
    });

});
//以检查用户名不能为空不能有特殊符号为例
function checkAddCommonLanguageForm(){
        var title = document.getElementById("title");//获取title那个div
        var feedback = document.getElementById("name-feedback");
        //不能为空
        if(title.value==""){
            feedback.innerHTML = "请输入分类名称！";//修改title-feedback div中的内容
            title.classList.remove("is-valid");//清除合法状态
            title.classList.add("is-invalid");//添加非法状态
            return false;
        }
        //不能有特殊符号
        var patrn = /[@#\$%\^&\*]+/g;//正则表达式
        if(patrn.exec(title.value)){
            feedback.innerHTML = "用户名不能存在特殊符号！";
            title.classList.remove("is-valid");
            title.classList.add("is-invalid");
            return false;
        }

        //清除错误提示，改成成功提示
        title.classList.remove("is-invalid");
        title.classList.add("is-valid");
        feedback.innerHTML="";
        return true;
    }
function saveCommonLanguageCategory(){
	if(checkAddCommonLanguageForm()){
		$.ajax({
	        type: 'POST',
	        url: '${basePath}/commonLanguage/saveOrUpdate.do',
	        dataType: 'json',
	        data: $("#addCommonLanguageForm").serialize(),
	        //发送数据前
	        beforeSend: function(){
	            // 禁用按钮防止重复提交
	            $('#saveCategoryButton').attr({disabled: "disabled"});
	            //弹出modal框
	           // $('#modal_sm_black_content').html('<img src="loading-white.gif" width="18" height="18" class="mr-2">正在处理，请稍后');
	           // $("#addCommonLanguageCategoryMode").modal("show");
	        },
	        //成功返回
	        success: function(data){
	        	if(data.code==0){
	                $('#saveCategoryButton').removeAttr('disabled');
	                $('#addCommonLanguageCategoryMode').modal('hide');
	                window.location.reload();	        		
	        	}
	        },
	        //处理完成
	        complete: function(){
	            $('#saveCategoryButton').removeAttr('disabled');
	            $('#saveCategoryButton').modal('hide');
	            $('#addCommonLanguageCategoryMode').modal('hide');
	            window.location.reload();
	        },
	        //报错
	        error: function(data){
	            console.info("error: " + data.responseText);
	        }
	    });			
	}
}
function editCommonLanguageCategory(id){
	$.ajax({
        type: 'POST',
        url: '${basePath}/commonLanguage/read.json',
        dataType: 'json',
        data: {id:id},
        success: function(data){
			if(data.code==0){
				var bean=data.data;
				$("#id").val(bean.id);
				$("#name").val(bean.name);
				$("#priority").val(bean.priority);
				$("#addCommonLanguageCategoryMode").modal("show");
			}
        },
        error: function(data){
            console.info("error: " + data.responseText);
        }
    });		
}
function deleteCommonLanguageCategory(ids){
	$.ajax({
        type: 'POST',
        url: '${basePath}/commonLanguage/delete.do',
        dataType: 'json',
        data: {ids:ids},
        success: function(data){
			if(data.code==0)
        	window.location.reload();
        },
        error: function(data){
            console.info("error: " + data.responseText);
        }
    });		
}
</script>
</body>
</html>