<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>名片分配系统</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="${basePath}/assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="${basePath}/vendors/bundle.css" type="text/css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="${basePath}/vendors/datepicker/daterangepicker.css">

    <!-- Vmap -->
    <link rel="stylesheet" href="${basePath}/vendors/vmap/jqvmap.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="${basePath}/assets/css/app.css" type="text/css">
</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->



<!-- begin::main -->
<div id="main">

    <!-- begin::navigation -->
    <div class="navigation">

        <div class="navigation-menu-tab">
            <div class="flex-grow-1">
                <ul>
                

                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="管理员菜单"
                           data-nav-target="#personCommon">
                            <i data-feather="user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="销售员菜单" data-nav-target="#systemStatusMonitor">
                            <i data-feather="monitor"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="报表菜单"   data-nav-target="#robotConfig">
                            <i data-feather="user-plus"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
<!--             <div>
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Settings">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                    <li>
                        <a href="login.html" data-toggle="tooltip" data-placement="right" title="Logout">
                            <i data-feather="log-out"></i>
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>

        <!-- begin::navigation menu -->
        <div class="navigation-menu-body">

            <!-- begin::navigation-logo -->
<!--             <div>
                <div id="navigation-logo">
                    <a href="index.html">
                        <img class="logo" src="assets/media/image/logo.png" alt="logo">
                        <img class="logo-light" src="assets/media/image/logo-light.png" alt="light logo">
                    </a>
                </div>
            </div> -->
            <!-- end::navigation-logo -->

            <div class="navigation-menu-group">

               

                <div class="open"  id="personCommon">
                    <ul>
                        <li><a class="active" href="${basePath}/autoReply/edit.html">分配规则配置</a></li>              
                        <li><a href="${basePath}/autoReply/edit.html">校区配置</a></li>
                        <li><a href="${basePath}/chatStaffMessage/index.html">项目配置</a></li>
                        <li><a href="${basePath}/commonLanguage/index.html">业务组配置</a></li>
                        <li><a href="${basePath}/changePassword/index.html">销售类别配置</a></li>
                        <li><a href="${basePath}/changePassword/index.html">销售人员配置</a></li>
                        <li><a href="${basePath}/changePassword/index.html">排班班次</a></li>
                        <li><a href="${basePath}/changePassword/index.html">排班设置</a></li>
                        <li><a href="${basePath}/changePassword/index.html">退回类型设置</a></li>
                        <li><a href="${basePath}/changePassword/index.html">名片分配</a></li>
                        <li><a href="${basePath}/changePassword/index.html">第三方接口配置</a></li>
                        <li><a href="${basePath}/changePassword/index.html">名片推送日记</a></li>
                     </ul>

                </div>
                <div id="systemStatusMonitor">
                    <ul>
                        <li><a href="${basePath}/log/statusChange.html">个人排班</a></li>                        
                        <li><a href="${basePath}/monitor/groupIndex.html">名片处理</a></li>
                        <li><a href="${basePath}/log/login.html">个人微信推送</a></li>
                        <li><a href="${basePath}/log/opration.html">销售地址</a></li>
                    </ul>
                </div>
                <div id="robotConfig">
                    <ul>
                        <li class="navigation-divider">智能微微配置</li>
                        <li>
                            <a href="${basePath}/robot/index.html">
                                <span>名片分配监控</span>
                            </a>
                        </li>
                        <li>
                            <a href="${basePath}/robotQuestion/index.html">
                                <span>咨询师考核</span>
                            </a>
                        </li>
                        <li>
                            <a href="${basePath}/robotQuestionCategory/robotQuestionCategory.html">
                                <span>我录入的名片</span>
                            </a>
                        </li>
                        <li>
                            <a href="${basePath}/robotQuestionCategory/robotQuestionCategory.html">
                                <span>校区分配监控</span>
                            </a>
                        </li>                    
                    </ul>
                </div>
                
                
            </div>
        </div>
        <!-- end::navigation menu -->

    </div>
    <!-- end::navigation -->

    <!-- begin::main-content -->
    <div class="main-content">


        <!-- begin::page content -->
        <div class="container-fluid">




        </div>
        <!-- end::page content -->

        <!-- begin::footer -->
        <footer>
            <div class="container-fluid">
                <div>© 2019 Protable v1.0.0 Made by <a href="http://bootstrapmb.com">Laborasyon</a></div>
                <div>
                    <nav class="nav">
                        <a href="" class="nav-link">Licenses</a>
                        <a href="#" class="nav-link">Change Log</a>
                        <a href="#" class="nav-link">Get Help</a>
                    </nav>
                </div>
            </div>
        </footer>
        <!-- end::footer -->

    </div>
    <!-- end::main-content -->

</div>
<!-- end::main -->

<!-- Plugin scripts -->
<script src="${basePath}/vendors/bundle.js"></script>

<!-- Chartjs -->
<script src="${basePath}/vendors/charts/chartjs/chart.min.js"></script>

<!-- Apex chart -->
<script src="${basePath}/vendors/charts/apex/apexcharts.min.js"></script>

<!-- Circle progress -->
<script src="${basePath}/vendors/circle-progress/circle-progress.min.js"></script>

<!-- Peity -->
<script src="${basePath}/vendors/charts/peity/jquery.peity.min.js"></script>
<script src="${basePath}/assets/js/examples/charts/peity.js"></script>

<!-- Datepicker -->
<script src="${basePath}/vendors/datepicker/daterangepicker.js"></script>

<!-- Slick -->
<script src="${basePath}/vendors/slick/slick.min.js"></script>

<!-- Vamp -->
<script src="${basePath}/vendors/vmap/jquery.vmap.min.js"></script>
<script src="${basePath}/vendors/vmap/maps/jquery.vmap.usa.js"></script>
<script src="${basePath}/assets/js/examples/vmap.js"></script>

<!-- Dashboard scripts -->
<script src="${basePath}/assets/js/examples/dashboard.js"></script>
<div class="colors"> <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>

<!-- App scripts -->
<script src="${basePath}/assets/js/app.js"></script>

</body>
</html>